> [Wiki](Home) > [Deployment](Deployment) > Manual system tests results

Here you can find the results of the system tests performed as part of each release (most recent on top).

* [Release 2.1.0 results](testing/manual_system_tests_results/Release_2.1.0_manual_system_tests_outcome_Sep2016.xlsx) - September 2016
* [Release 2.2.0 results](testing/manual_system_tests_results/Release_2.2.0_manual_system_tests_outcome_Nov2016.xlsx) - November 2016
* [Release 3.1.0 results](testing/manual_system_tests_results/Release_3.1.0_manual_system_tests_outcome_Feb2017.xlsx) - February 2017
