> [Wiki](Home) > [Deployment](Deployment) > Manual system tests results

Here you can find the results of the system tests performed as part of each release (most recent on top).

* [Release 2.1.0 results](testing/manual_system_tests_results/Release_2.1.0_manual_system_tests_outcome_Sep2016.xlsx) - September 2016
* [Release 2.2.0 results](testing/manual_system_tests_results/Release_2.2.0_manual_system_tests_outcome_Nov2016.xlsx) - November 2016
* [Release 3.1.0 results](testing/manual_system_tests_results/Release_3.1.0_manual_system_tests_outcome_Feb2017.xlsx) - February 2017
* [Release 3.2.0 results](testing/manual_system_tests_results/Release_3.2.0_manual_system_tests_outcome_April_2017.xlsx) - April 2017
* [Release 4.0.0 results](testing/manual_system_tests_results/Release_4.0.0_manual_system_tests_outcome_September_2017.xlsx) - September 2017
* [Release 4.2.0 results](testing/manual_system_tests_results/Release_4.2.0_manual_system_tests_outcome_January_2018.xlsx) - January 2018
* [Release 4.4.0 results](testing/manual_system_tests_results/Release_4.4.0_manual_system_tests_outcome.xlsx) - May 2018
* [Release 5.0.0 results](testing/manual_system_tests_results/Release_5.0.0_manual_system_tests_outcome_September_2018.xlsx) - September 2018
* [Release 5.1.0 results](testing/manual_system_tests_results/manual_system_tests_v5.1.0.xlsx) - October 2018
* [Release 5.2.0 results](testing/manual_system_tests_results/manual_system_tests_v5.2.0.xlsx) - January 2019
* [Release 5.4.0 results](testing/manual_system_tests_results/manual_system_tests_v5.4.0.xlsx) - May 2019
* [Release 5.5.0 results](testing/manual_system_tests_results/Release_5.5.0_manual_system_tests_outcome_Aug2019.xlsx) - Aug 2019
* [Release 6.0.0 results](testing/manual_system_tests_results/Release_6.0.0_manual_system_tests_outcome_Jan2020.xlsx) - Jan 2020
* [Release 7.4.0 results](testing/manual_system_tests_results/Release_7.4.0_manual_system_tests_outcome_April2021.xlsx) - Apr 2021
* [Release 8.0.0 results](testing/manual_system_tests_results/Release_8.0.0_manual_system_tests_outcome_August2021.xlsx) - August 2021
* [Release 9.0.0 results](testing/manual_system_tests_results/Release_9.0.0_manual_system_tests.xlsx) - Oct 2021
* [Release 10.0.0 results](testing/manual_system_tests_results/Release_10.0.0_manual_system_tests.xlsx) - Jan 2022
* [Release 11.0.0 results](testing/manual_system_tests_results/Release_11.0.0_manual_system_tests.xlsx) - July 2022
* [Release 12.0.0 results](testing/manual_system_tests_results/Release_12.0.0_manual_system_tests.xlsx) - Jan 2023