.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: inherit;
}

a:hover {
    color: #01afec;
}

.wy-menu-vertical p.caption {
    color: #01afec;
}
.wy-nav-content {
    max-width: 1200px !important;
}

@keyframes highlight {
    0% {
        background: #01afec;
    }
    100% {
        background: none;
    }
}

:target {
    animation: highlight 3s;
}
